*{
    margin:0;
    padding: 0;
    font-family:"Poppins",sans-serif;
    box-sizing: border-box;
}
html:focus-within{
    scroll-behavior: smooth;
}
body{
    background-color:#0d1219;
}

#home{
    width: 100%;
    height:1000px;
    background-image: url(hii.jpg);
    background-position: center;
    background-attachment:scroll;
    background-repeat:no-repeat;
}

.header{
   float:right;
   margin-right:50px;
   margin-top:30px;
}

.header ul li{
    display:inline-block;
    padding-right:30px;
    float:right;
}


.header a{
    color:aliceblue;
    text-decoration: none;
    cursor:pointer;
}

.header a:hover{
    color: aqua;
}

.header1 h1{
   color: aliceblue;
   margin-top: 300px;
   margin-right:100px;
   text-shadow: 2px 2px;
   font-size:50px;

}
.header1 h4{
    margin-top:100px;
    margin-right: 100px;
    color:antiquewhite;
    font-size: 30px;
}

.header1 p{
    color:antiquewhite;
    font-size: 80px;
}
.header1 p span{
    color: burlywood;
}

#about{
    width: 100%;
    height:1000px;
    background-image: url(images/bac.png);
    background-position: center;
    background-attachment:scroll;
    background-repeat:no-repeat;
}



.row1{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1{
    flex-basis:35%;
}


.col2{
    flex-basis: 50%;
}
.col1 img{
    width:120%;
    height:700px;
    padding:25px;
    margin-top: 20%;
    border-style: groove;
}

.col1 img:hover{
    opacity:0.7;
    transform: translate(20px,140px);
}
.col2 h1{
    color: aquamarine;
    text-shadow: 3px 0px;
    text-align: center;
    margin-top: 25%;
}

.col2 p{
    padding-left: 25px;
    padding-top: 25px;
    color:beige;
    font-size:25px;
    font-family:aerial;
    word-break: keep-all;
}

.col1-row{
    display: flex;
    
}

.col2-row{
   cursor: pointer;
    padding-right: 10px;
    padding-top: 15%;
}

.col2-row::after{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    position: bottom;
    width: 100px;
    height: 40px;
    transition-timing-function: linear;
}



.col2-row.active-link {
    color:aqua;
    background-color:rgb(236, 110, 110) ;
    text-decoration: underline rgb(236, 65, 65);
    width:250px;
    transition: 2s;
}


.menu ul li{
    padding-top: 20px;
    font-size: 20px;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.menu table{
    padding-top: 30px;
    border-color: aliceblue;
    cellspacing:10px;
    border-style: hidden;
}

.menu table th{
    font-size: 20px;
    font-style: italic;
    color: antiquewhite;
    border-style: hidden;
}

.menu table td{
    color: aliceblue;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:20px;
    border-style: hidden;
}

.menu{
    display: none;
}
.menu.active-tab{
    display:block;
}

#myworks{
    padding-top: 50px ;
    float: left;
}
.subtitle h1 {
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-left: 45px;
}

.services{
    display:grid;
    grid-template-columns: auto auto;
    background-color: rgb(202, 33, 33);
    grid-gap: 200px;
    margin-top: 50px;
    margin-left: 25px;
    padding-left: 150px;
    background-image: linear-gradient(30deg,rgb(183, 33, 33),rgb(40, 40, 167),rgb(49, 144, 79));
}

.services h3{
    margin-top: 30px;
    color: aliceblue;
    font-size: 30px;
}
.services p{
    margin-top: 25px;
    color:antiquewhite;
}
.services a{
    color: aliceblue;
}

.services i{
    font-size: 40px;
}

.ser1 i{
    margin-left: 160px;
    font-size: 35px;
}



.Info h1{
    color:azure;
    font-size: 50px;
    margin-left: 50px;
    padding-bottom: 70px;
}


.con3 {
    float: left;
    width: 50%;
    padding-top: 150px;
   
  }
  .con4 {
    float: left;
    width: 50%;
    padding-top: 200px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.con3 p{
    margin-top: 30px;
    color:aliceblue;
    padding-left: 50px;
    
}


.con3 i{
    font-size:25px;
    padding-right: 25px;
}

.social a{
    display: inline-block;
    margin-left: 25px;
    transition: transform 0.5s;
}

.social a:hover{
    animation-name: example;
    animation-duration: 2.5s;
    width:25px;
    height: fit-content;
    transform: translateY(-15px);
}

@keyframes example{
    from{background-color: white;}
    to{background-color: crimson;}
}

.btn1{
    display:block;
    margin:25px;
    width:fit-content;
    border:4px solid crimson;
    padding: 14px 50px;
    border-radius: 15px;
    cursor: pointer;
}
.btn {
    color:aliceblue;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 25px;
    cursor:pointer;
    text-decoration: none;
    transition: transform 2s;
}

.btn:hover{
    transform: scaleX(1.1);
}

.con4 form{
    width:100%;
}

form input,form textarea{
    width: 95%;
    border:0;
    outline: none;
    background-color: rgb(194, 223, 236);
    padding: 15px;
    margin:15px 0;
    color: rgb(7, 8, 8);
    font-size: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    border-bottom: 50px;
}


button{
    transistion:scale 2s;
}

button:hover{
    transform: scaleX(1.2);
}

.copyright p{
    color: aliceblue;
    padding-top: 45px;
    margin-left: 450px;
    padding-bottom: 20px;
    
}

@media only screen and (max-width:600px) {
    
    .services{
        width:200%;
    }
    .header1 p{
        font-size: 30px;
        margin-left: 130px;
    }
    .header1 h4{
        margin-left: 100px;
    }
    .header1 h1{
        margin-left: 100px;}
    
    .col1 img{
        height: 300px;
        margin-left: 25px;
        transition: transform 2s;
    }
    .col1 img:hover{
        transform: translateX(90px);
    }
    .col1-row p{
        margin-left: 25px;
    }
    .menu ul li{
        margin-left: 50px;
    }
    .subtitle h1{
        margin-top: 200px;
    }
    .social a{
        padding-bottom: 20px;
    }
    .con3{
        width: 100%;
    }
      .con4{
        width:95%;
        padding-top: 60px;
        margin-left: 25px;
     }
     .copyright p{
        margin-left:200px;
        padding: 15px 0px;
        padding-bottom: 20px;
     }
    
}
.some{
    display: flex;
    flex-direction: column-reverse;

}
